@page
@model RelacionamentoModel
@{

    ViewData["Title"] = "Turma Relacionandas";

}



<h2 class="card-text mt-3 md-5">Turma e seus Alunos Cadastrados</h2>
@if (!string.IsNullOrEmpty(Model.errormessage))
{
    <div class="alert alert-danger" role="alert">
        @Model.errormessage
    </div>
}
<div class="row mb-5 mt-5">
    <div class="col">
        <a class="btn btn-primary" href="/Relacionamento/Create">
            Relacionamento Aluno a turma
        </a>
    </div>
    <div class="col">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name="Search" value="@Model.Search"
                   placeholder="Pesquisa por nome" aria-label="Search" />
            <button class="btn btn-outline-danger">Buscar</button>
        </form>
    </div>
</div>

<script>
    function sortTable(column) {
        let orderBy = "desc";
        let currentColumn = "@Model.column";
        let currentorderBy = "@Model.orderBy";

        if (column == currentColumn) {
            if (currentorderBy == "asc") { orderBy = "desc"; }
            else { orderBy = "asc"; }

        }
        window.location.href = "?search=@(Model.Search)&column=" + column + "&orderBy=" + orderBy;
    }

</script>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="cursor:pointer" onclick="sortTable('turma')">Turma</th>
            <th style="cursor:pointer" onclick="sortTable('curso')">Curso</th>
            <th style="cursor:pointer" onclick="sortTable('nome')">Nome</th>
            <th style="cursor:pointer" onclick="sortTable('ativo')">Ativo</th>
            <th style="cursor:pointer">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RelacionamentoListDTOs)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.turma)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.curso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ativo)
                </td>
                <td class="white-space:nowrap d-flex">
                    <form method="post" asp-page-handler="@((item.ativo == 1) ? "InativarRelacao" : "AtivarRelacao")" asp-route-alunoId="@item.aluno_id" asp-route-turmaId="@item.turma_id" class="d-inline">
                        <button type="submit" class="btn btn-@(item.ativo == 1 ? "danger" : "success") btn-sm">
                            @(item.ativo == 1 ? "Inativar" : "Ativar")
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<nav>
    <ul class="pagination">

        @for (int i = 1; i <= Model.totalpage; i++)
        {
            string active = "";
            if (i == Model.pageIndex) active = active;
            <li class="page-item" @active aria-current="page">
                <a class="page-link" href="?pageindex=@(i)&Search=@Model.Search&column=@Model.column&orderBy=@Model.orderBy">@i</a>
            </li>

        }
    </ul>

</nav>